/**
 * Settings
 * colors, sizes and other variables
 */
/**
 * State - state style
 * @see https://smacss.com/book/type-state
 */
@keyframes astrokeanim {
  0% {
    stroke-width: 6; }
  50% {
    stroke-width: 0; }
  100% {
    stroke-width: 6; } }

@keyframes stroke {
  100% {
    stroke-dashoffset: -400; } }

@keyframes vstroke {
  100% {
    stroke-dashoffset: 0; } }

@keyframes confettianim {
  0% {
    fill: #ff3b87; }
  30% {
    fill: #9900ff; }
  65% {
    fill: #f5eb00; }
  100% {
    fill: #00d7c5; } }

@keyframes ystrokeanim {
  0% {
    stroke: #ff3b87; }
  30% {
    stroke: #9900ff; }
  65% {
    stroke: #f5eb00; }
  100% {
    stroke: #00d7c5; } }

/**
 * Fonts - global import of fonts
 */
@font-face {
  font-family: 'Gerbera';
  src: url("../fonts/Gerbera.otf");
  src: url("../fonts/Gerbera.otf") format("opentype"); }

@font-face {
  font-family: 'Gerbera Balck';
  src: url("../fonts/GerberaBlack.otf");
  src: url("../fonts/GerberaBlack.otf") format("opentype"); }

@font-face {
  font-family: 'Gerbera Bold';
  src: url("../fonts/GerberaBold.otf");
  src: url("../fonts/GerberaBold.otf") format("opentype"); }

@font-face {
  font-family: 'Gerbera Light';
  src: url("../fonts/GerberaLight.otf");
  src: url("../fonts/GerberaLight.otf") format("opentype"); }

@font-face {
  font-family: 'Gerbera Medium';
  src: url("../fonts/GerberaMedium.otf");
  src: url("../fonts/GerberaMedium.otf") format("opentype"); }

/**
 * Base - base style for common elements (no modules)
 * @see http://smacss.com/book/type-base
 */
* {
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background: #fff;
  font: 14px 'Gerbera', sans-serif;
  margin: 0; }

/**
 * Modules - discrete component of the page
 * @see http://smacss.com/book/type-module
 */
/* A, L animation */
#a-usetag {
  stroke-width: 6;
  stroke: #00D7C5;
  animation: astrokeanim 2s infinite linear; }

#l-usetag {
  stroke-width: 6;
  stroke: #f5eb00;
  animation: astrokeanim 2s infinite linear; }

/* S animation */
.text2, .text4, .text6 {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear; }

.text2:nth-child(5n + 1),
.text4:nth-child(5n + 1),
.text6:nth-child(5n + 1) {
  stroke: #ff3b87;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s; }

.text2:nth-child(5n + 2),
.text4:nth-child(5n + 2),
.text6:nth-child(5n + 2) {
  stroke: #9900ff;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s; }

.text2:nth-child(5n + 3),
.text4:nth-child(5n + 3),
.text6:nth-child(5n + 3) {
  stroke: #ffffff;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s; }

.text2:nth-child(5n + 4),
.text4:nth-child(5n + 4),
.text6:nth-child(5n + 4) {
  stroke: #00d7c5;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s; }

.text2:nth-child(5n + 5),
.text4:nth-child(5n + 5),
.text6:nth-child(5n + 5) {
  stroke: #f5eb00;
  -webkit-animation-delay: -6s;
  animation-delay: -6s; }

/* V animation */
.text {
  fill: none;
  stroke-linejoin: round;
  stroke-dasharray: 1160;
  stroke-dashoffset: 1160;
  -webkit-animation: vstroke 6s infinite linear;
  animation: vstroke 6s infinite ease-in-out; }

.text:nth-child(3n+3) {
  stroke-width: 4;
  stroke: #ff3b87;
  -webkit-animation-delay: 0s;
  animation-delay: 00s; }

.text:nth-child(3n+1) {
  stroke: #9900ff;
  stroke-width: 1;
  -webkit-animation-delay: .2s;
  animation-delay: -.2s; }

.text:nth-child(3n+2) {
  stroke: #f5eb00;
  stroke-width: 2;
  -webkit-animation-delay: -.1s;
  animation-delay: -.1s; }

/* Y animation */
.text3, .text5 {
  fill: none;
  stroke-linejoin: round;
  stroke-width: 6;
  animation: ystrokeanim 4s infinite linear; }

.confetti {
  animation: confettianim 4s infinite linear; }

.cls-1 {
  fill: #fff200; }

.cls-2 {
  fill: #00ffd4; }

.cls-3 {
  fill: #33b88c; }

.cls-4, .cls-6 {
  fill: blue; }

.cls-5, .cls-7, .cls-8, .cls-9 {
  fill: none;
  stroke: blue; }

.cls-5, .cls-7, .cls-9 {
  stroke-linecap: round;
  stroke-linejoin: round; }

.cls-5 {
  stroke-width: 1.25px; }

.cls-6 {
  font-size: 6px;
  font-family: AdobeArabic-Regular, Adobe Arabic; }

.cls-7 {
  stroke-width: 1.95px; }

.cls-8 {
  stroke-miterlimit: 10;
  stroke-width: 1.95px; }

.cls-9 {
  stroke-width: 1.75px; }

.anime {
  transform-origin: center; }

.anime--dash {
  stroke: blue;
  stroke-width: 2px;
  stroke-miterlimit: 10;
  fill: none; }

.root {
  position: relative;
  width: 90%;
  height: auto;
  margin: 0 auto; }
  @media screen and (min-width: 40.0625em) {
    .root {
      width: 80%;
      height: 80vh; } }

.capture {
  position: relative;
  height: 100%;
  padding: 30px 0; }

.footer-body {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
  width: 90%;
  text-align: left; }
  @media screen and (min-width: 425px) {
    .footer-body {
      width: 80%;
      padding: 30px 0; } }

.footer-row {
  position: relative;
  display: block;
  overflow: auto;
  width: 100%; }

.footer-cell {
  clear: none;
  display: block;
  width: 45%;
  margin-right: 5%;
  float: left; }
  .footer-cell:before, .footer-cell:after {
    content: '';
    display: table; }
  @media screen and (min-width: 40.0625em) {
    .footer-cell {
      display: inline-flex;
      width: 16%;
      margin-right: 4%; } }

.footer-cell-email {
  position: relative;
  display: block;
  width: 100%;
  float: left; }
  @media screen and (min-width: 40.0625em) {
    .footer-cell-email {
      display: inline-flex;
      width: 60%; } }

.footer-p {
  display: inline-block;
  font-size: 15px;
  color: #00ffd4; }
  @media screen and (min-width: 425px) {
    .footer-p {
      font-size: 20px; } }
  @media screen and (min-width: 80.0625em) {
    .footer-p {
      font-size: 30px; } }

.footer-link {
  position: relative;
  display: block;
  font-family: 'Gerbera Medium', sans-serif;
  font-size: 15px;
  color: #0000ff;
  cursor: pointer;
  text-decoration: none; }
  @media screen and (min-width: 40.0625em) {
    .footer-link {
      font-size: 20px; } }
  @media screen and (min-width: 80.0625em) {
    .footer-link {
      font-size: 30px; } }

.footer-p-copyright {
  font-size: 11px;
  display: block; }
