@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

html, body {
    height: 100%;
}

body {
    background: white; //#1d1a60;
    background-size: .2em 100%;
    font: 7.5em/1 Open Sans, Impact;
    text-transform: uppercase;
    margin: 0;
}

svg {
    position: absolute;
    width: 100%;
    height: 100%;
}
