@charset "UTF-8";

@font-face {
  font-family: 'Gerbera';
  src: url('../fonts/Gerbera.otf');
  src: url('../fonts/Gerbera.otf') format('opentype')
}

@font-face {
  font-family: 'Gerbera Balck';
  src: url('../fonts/GerberaBlack.otf');
  src: url('../fonts/GerberaBlack.otf') format('opentype')
}

@font-face {
  font-family: 'Gerbera Bold';
  src: url('../fonts/GerberaBold.otf');
  src: url('../fonts/GerberaBold.otf') format('opentype')
}

@font-face {
  font-family: 'Gerbera Light';
  src: url('../fonts/GerberaLight.otf');
  src: url('../fonts/GerberaLight.otf') format('opentype')
}

@font-face {
  font-family: 'Gerbera Medium';
  src: url('../fonts/GerberaMedium.otf');
  src: url('../fonts/GerberaMedium.otf') format('opentype')
}
