$mobile-s: 320px;
$mobile-l: 425px;
$desktop-l: 1366px;

$small-range: (0em, 40em);
$medium-range: (40.0625em, 80em);
$large-range: (80.0625em, 120em);
$xlarge-range: (120.0625em, 160em);
$xxlarge-range: (160.0625em);

$small-up: 40.0625em; //560px
$medium-up: 80.0625em; //1120px
$large-up: 120.0625em; //1680px
