/* A, L animation */

#a-usetag {
    stroke-width: 6;
    stroke:#00D7C5;
    animation: astrokeanim 2s infinite linear;
}

#l-usetag {
    stroke-width: 6;
    stroke: #f5eb00;
    animation: astrokeanim 2s infinite linear;
}

/* S animation */

.text2, .text4, .text6 {

    fill: none;
    stroke-width: 6;
    stroke-linejoin: round;
    stroke-dasharray: 70 330;
    stroke-dashoffset: 0;
    -webkit-animation: stroke 6s infinite linear;
    animation: stroke 6s infinite linear;
}

.text2:nth-child(5n + 1),
.text4:nth-child(5n + 1),
.text6:nth-child(5n + 1){
    stroke: #ff3b87;
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}

.text2:nth-child(5n + 2),
.text4:nth-child(5n + 2),
.text6:nth-child(5n + 2){
    stroke: #9900ff;
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

.text2:nth-child(5n + 3),
.text4:nth-child(5n + 3),
.text6:nth-child(5n + 3){
    stroke: #ffffff;
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
}

.text2:nth-child(5n + 4),
.text4:nth-child(5n + 4),
.text6:nth-child(5n + 4){
    stroke: #00d7c5;
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
}

.text2:nth-child(5n + 5),
.text4:nth-child(5n + 5),
.text6:nth-child(5n + 5){
    stroke: #f5eb00;
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
}

/* V animation */

.text {

    fill: none;

    stroke-linejoin: round;
    stroke-dasharray:1160;
    stroke-dashoffset: 1160;
    -webkit-animation: vstroke 6s infinite linear;
    animation: vstroke 6s infinite ease-in-out;

}
.text:nth-child(3n+3) {
    stroke-width: 4;
    stroke: #ff3b87;
    -webkit-animation-delay: 0s;
    animation-delay: 00s;
}
.text:nth-child(3n+1) {
    stroke: #9900ff;
    stroke-width: 1;
    -webkit-animation-delay: .2s;
    animation-delay: -.2s;
}
.text:nth-child(3n+2) {
    stroke: #f5eb00;
    stroke-width: 2;
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s;
}

/* Y animation */

.text3, .text5 {
    fill: none;

    stroke-linejoin: round;
    stroke-width: 6;
    animation: ystrokeanim 4s infinite linear;
}

.confetti {
    animation: confettianim 4s infinite linear;
}
