.cls-1 {
  fill: #fff200;
}

.cls-2 {
  fill: #00ffd4;
}

.cls-3 {
  fill: #33b88c;
}

.cls-4, .cls-6 {
  fill: blue;
}

.cls-5, .cls-7, .cls-8, .cls-9 {
  fill: none;
  stroke: blue;
}

.cls-5, .cls-7, .cls-9 {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-5 {
  stroke-width: 1.25px;
}

.cls-6 {
  font-size: 6px;
  font-family: AdobeArabic-Regular, Adobe Arabic;
}

.cls-7 {
  stroke-width: 1.95px;
}

.cls-8 {
  stroke-miterlimit: 10;
  stroke-width: 1.95px;
}

.cls-9 {
  stroke-width: 1.75px;
}

.anime {
  transform-origin: center;
}

.anime--dash {
  stroke: blue;
  stroke-width: 2px;
  stroke-miterlimit: 10;
  fill: none;
}
